In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
df_train = pd.concat([df, df_test], ignore_index=True)
df_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
df_columns = df_train.columns
for i in df_columns:
  print(f'{i}: {df_train[i].isna().sum()} пустых значений')

PassengerId: 0 пустых значений
Survived: 418 пустых значений
Pclass: 0 пустых значений
Name: 0 пустых значений
Sex: 0 пустых значений
Age: 263 пустых значений
SibSp: 0 пустых значений
Parch: 0 пустых значений
Ticket: 0 пустых значений
Fare: 1 пустых значений
Cabin: 1014 пустых значений
Embarked: 2 пустых значений

In [ ]:
# слишком много отсутствующих значений признака Cabin - удалим признак
df_train = df_train.drop('Cabin', axis=1)

In [ ]:
df_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,S
1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C
1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,S
1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,S
1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,C

In [ ]:
#удалим две строчки с пустым признаком Embarked
df_train.dropna(subset='Embarked', inplace=True)
df_train.dropna(subset='Fare', inplace=True)
df_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,S
1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C
1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,S
1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,S
1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,C

In [ ]:
#возьмем столбец с ID для финального вывода и удалим его
pass_id = df_train['PassengerId'][df_train['Survived'].isna()]
df_train = df_train.drop('PassengerId', axis=1)

#удалим столбец с названием билета Ticket и именем Name
df_train = df_train.drop('Ticket', axis=1)
df_train = df_train.drop('Name', axis=1)
pass_id

891      892
892      893
893      894
894      895
895      896
        ...
1304    1305
1305    1306
1306    1307
1307    1308
1308    1309
Name: PassengerId, Length: 417, dtype: int64

In [ ]:
df_train['Sex'] = df_train['Sex'].map({'male': 0, 'female': 1})
df_train

      Survived  Pclass  Sex   Age  SibSp  Parch      Fare Embarked
0          0.0       3  NaN  22.0      1      0    7.2500        S
1          1.0       1  NaN  38.0      1      0   71.2833        C
2          1.0       3  NaN  26.0      0      0    7.9250        S
3          1.0       1  NaN  35.0      1      0   53.1000        S
4          0.0       3  NaN  35.0      0      0    8.0500        S
...        ...     ...  ...   ...    ...    ...       ...      ...
1304       NaN       3  NaN   NaN      0      0    8.0500        S
1305       NaN       1  NaN  39.0      0      0  108.9000        C
1306       NaN       3  NaN  38.5      0      0    7.2500        S
1307       NaN       3  NaN   NaN      0      0    8.0500        S
1308       NaN       3  NaN   NaN      1      1   22.3583        C

[1306 rows x 8 columns]

In [ ]:
df_train['Embarked'].value_counts()

Embarked
S    913
C    270
Q    123
Name: count, dtype: int64

In [ ]:
df_train = pd.get_dummies(df_train)

In [ ]:
#предскажем пропуски признака age на основе имеющихся данных
df_train_age = df_train.copy()
df_train_age.dropna(subset='Age', inplace=True)
df_pred_age = df_train[df_train['Age'].isna()]

df_train_age = df_train_age.drop('Survived', axis=1)
df_pred_age = df_pred_age.drop('Survived', axis=1)

#распределим данные для age-целевой переменной
X_train = df_train_age.drop('Age', axis=1)
X_test = df_pred_age.drop('Age', axis=1)
y_train = df_train_age['Age']
y_test = df_pred_age['Age']

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X_train)
scaler.fit(X_test)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = np.round(abs(model.predict(X_test)))
print(y_pred)

[30. 34. 23. 26. 28. 27. 35. 28. 26. 26. 27. 27. 28. 20. 42. 40. 22. 27.
 27. 28. 27. 27. 27. 27. 24. 27. 30. 19. 22. 27. 27.  0. 38. 41. 17.  2.
 33. 42. 24. 30. 28.  0. 27. 27. 14. 24. 20. 24. 27. 38. 30. 28. 42. 28.
 34. 41. 40. 42. 28. 24. 35. 27. 38.  0. 21. 36. 27. 21. 42. 26. 28. 28.
 27. 23. 28. 35. 27. 30. 14. 27. 30. 34. 24. 26. 27. 30. 21. 27. 24. 27.
 36. 30. 27. 34. 30. 27. 42. 34. 14. 24. 26. 27. 28. 41. 27. 30. 26. 26.
 42. 26. 22. 27. 33. 30. 41. 30. 27. 24. 26. 28. 20. 26. 27. 26. 32. 26.
 27. 42. 27. 24. 30. 30. 41. 24. 27. 27. 27. 28. 27. 27. 36. 34. 28. 27.
 28. 22. 41. 30. 28. 34. 27. 27. 42. 27. 40. 27. 26. 30. 30. 22. 30.  2.
 40. 41. 30. 27. 30. 26. 27. 40.  0. 35. 26.  2. 27. 27. 20. 27. 39. 20.
 20. 24. 27. 41. 30. 33. 24. 32. 27. 27. 38. 23. 28. 27. 27. 30. 30. 27.
 28. 26. 27. 30. 21. 21. 23. 42. 41. 26. 28. 27. 38. 27. 26. 30.  2. 41.
 24. 28. 40. 27. 28. 27. 22. 28. 30. 27. 22. 20. 27. 30. 27. 41. 27. 24.
 30. 24. 26. 28. 27. 26. 27. 42. 26. 20. 33. 28. 27. 26. 26. 17. 23. 27.
 30. 14. 23. 30. 24. 34. 28. 28. 27. 27. 22.]

In [ ]:
#заменяем пропущенные значения возраста предсказанными
df_train.loc[df_train.Age.isna(), 'Age'] = y_pred

In [ ]:
#видим, что пропущенных значений не осталось
df_train['Age'].isna().sum()

0

In [ ]:
# перейдём к основной задаче
df_train

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0.0,3,0,22.0,1,0,7.2500,False,False,True
1,1.0,1,1,38.0,1,0,71.2833,True,False,False
2,1.0,3,1,26.0,0,0,7.9250,False,False,True
3,1.0,1,1,35.0,1,0,53.1000,False,False,True
4,0.0,3,0,35.0,0,0,8.0500,False,False,True
...,...,...,...,...,...,...,...,...,...,...
1304,NaN,3,0,27.0,0,0,8.0500,False,False,True
1305,NaN,1,1,39.0,0,0,108.9000,True,False,False
1306,NaN,3,0,38.5,0,0,7.2500,False,False,True
1307,NaN,3,0,27.0,0,0,8.0500,False,False,True
1308,NaN,3,0,22.0,1,1,22.3583,True,False,False

In [ ]:
df_surv = df_train.copy()
df_surv.dropna(subset='Survived', inplace=True)
df_pred = df_train[df_train['Survived'].isna()]

In [ ]:
df_surv

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0.0,3,0,22.0,1,0,7.2500,False,False,True
1,1.0,1,1,38.0,1,0,71.2833,True,False,False
2,1.0,3,1,26.0,0,0,7.9250,False,False,True
3,1.0,1,1,35.0,1,0,53.1000,False,False,True
4,0.0,3,0,35.0,0,0,8.0500,False,False,True
...,...,...,...,...,...,...,...,...,...,...
886,0.0,2,0,27.0,0,0,13.0000,False,False,True
887,1.0,1,1,19.0,0,0,30.0000,False,False,True
888,0.0,3,1,20.0,1,2,23.4500,False,False,True
889,1.0,1,0,26.0,0,0,30.0000,True,False,False
890,0.0,3,0,32.0,0,0,7.7500,False,True,False

In [ ]:
df_pred

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
891,NaN,3,0,34.5,0,0,7.8292,False,True,False
892,NaN,3,1,47.0,1,0,7.0000,False,False,True
893,NaN,2,0,62.0,0,0,9.6875,False,True,False
894,NaN,3,0,27.0,0,0,8.6625,False,False,True
895,NaN,3,1,22.0,1,1,12.2875,False,False,True
...,...,...,...,...,...,...,...,...,...,...
1304,NaN,3,0,27.0,0,0,8.0500,False,False,True
1305,NaN,1,1,39.0,0,0,108.9000,True,False,False
1306,NaN,3,0,38.5,0,0,7.2500,False,False,True
1307,NaN,3,0,27.0,0,0,8.0500,False,False,True
1308,NaN,3,0,22.0,1,1,22.3583,True,False,False

In [ ]:
Xtrain = df_surv.drop('Survived', axis=1)
ytrain = df_surv['Survived']
Xtest = df_pred.drop('Survived', axis=1)

from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=42)
model.fit(Xtrain, ytrain)

y_pred = model.predict(Xtest)
print(y_pred[:10])

[0. 0. 0. 0. 1. 0. 1. 0. 1. 0.]

In [ ]:
pass_id = np.array(pass_id)
df_final = pd.DataFrame({'PassengerId': pass_id, 'Survived': y_pred})
df_final

     PassengerId  Survived
0            892       0.0
1            893       0.0
2            894       0.0
3            895       0.0
4            896       1.0
..           ...       ...
412         1305       0.0
413         1306       1.0
414         1307       0.0
415         1308       0.0
416         1309       0.0

[417 rows x 2 columns]